- var baseLink = '../assets/svg/'
- var networksIcons = ['vk_icon', 'tg_icon', 'inst_icon', 'wsup_icon'];

 
div.footer__social-networks-icons
  a.footer__social-networks.vk-icon(href='/')
    img.footer__social-networks-img(
      src=baseLink + 'vk_icon.svg'
      alt='vk_icon3'
    )
  a.footer__social-networks.tg-icon(href='/')
    img.footer__social-networks-img(
      src=baseLink + 'tg_icon.svg'
      alt='tg_icon3'
    )
  a.footer__social-networks.inst-icon(href='/')
    img.footer__social-networks-img(
      src=baseLink + 'inst_icon.svg'
      alt='inst_icon3'
    )
  a.footer__social-networks.wsup-icon(href='/')
    img.footer__social-networks-img(
      src=baseLink + 'wsup_icon.svg'
      alt='wsup_icon3'
    )